/*Stlye for when the browser is more 
than 600 pixel in width*/

@media screen and (min-width: 600px){
	/*******************
	General
	********************/
	body{
		font-size: 1rem
	}

	img{
		width: 100%;

	}

	/*******************
	Section 1
	********************/
	#section_1{
		width: 100%;
		height: 500px;
		position: relative;
				
	}

	/*styling the menu*/
	#section_1 nav{
		height: 50px;	
	}

	#section_1 nav ul{
		margin-top: 15px;
		margin-left: 25px;
	}
	#logo img{
		margin-top:-35px;
	}

	nav ul li{
	list-style: none;
	display: inline-block;
	}

	#section_1 nav ul li:last-child{
		margin-right: 80px;
	}

	#section_1 nav ul li a{
		color: black;
		font-size: 0.9em;
		margin-left: 15px;
	}
	/*End on menu styling*/


	/*Styling the text, logo, the guy image and button*/
	.post{
		width: 50%;
		margin-left: 50px;
		margin-top: 85px;
	}

	.post h4{
		font-size: 2vw;
	}

	.post h5{
		font-size: 1rem;
		font-weight: lighter;
		line-height: 1.5;
	}

	.guy{
		display: inline;
		width: 25%;
		min-width: 250px;
		max-width: 450px;
		bottom: 0px;
		/*top: 100px;*/
		right: 0;
		position: absolute;
		margin-right: 15px;
	}
	/*End of Styling the text, logo, the guy image and button*/
	
	/*Styling the transparent bar and the text in it*/
	.section_2{
		position: absolute;
		bottom: 0;
	}

	.section_2 #sub{
		padding-left: 5%;
	}

	.section_2 p{
		width: 5%;
		display: inline;
		font-size: 0.8rem;
		padding-right: 5%;
		padding-bottom: 40px;
	}
 	/*End Styling the transparent bar and the text in it*/

	/*******************
	Section 2 styling
	********************/

	/* Styling the four images in and unordered*/
	.section_3{
		width: 100%;
		height: 200px;
	}

	.section_3 ul li{
		display: inline-block;
		width: 25%;
	}
	/*End of Styling the four images in and unordered*/

	/*******************
	Section 3
	********************/

	/*styling the text, green button and background*/
	.section_4{
		height: 300px;
	}

	.section_4 h4{
		font-size: 3vw;
		padding-top: 60px;
	}

	.section_4 h5{
		font-size: 1vw;
	}

	.section_4 p{
		margin-bottom: 50px;
	}
	/*End of styling the text, green button and background*/


	/*******************
	Section 4
	********************/
	/*Styling the four images in and unordered list*/
	.section_5{
		width: 100%;
		height: 200px;
	}

	.section_5 ul{
		width:100%;
	}

	.section_5 ul li{
		/*display: inline-block;*/
		float: left;
		width: 22%;
		padding-left: 0;
	}

	.section_5 ul li img{
		width:90px;
		height: 90px;
		margin: 0 35%;
	}

	/*End of Styling the four images in and unordered list*/


	/*******************
	Footer
	********************/

	/*styling the menu bar in the footer*/
	footer ul{
		padding-top: 18px;
		padding-left: 30px;
	}

	footer ul li a{
		font-size: .8em;
		color: white;
		opacity: .7;
	}
	/*End of styling the menu bar in the footer*/
}
/*End of Media queries*/